{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "org.webswing.security.modules.demo.DemoSecurityModule",
      "classPath" : [ "${webswing.rootDir}/security/*" ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "${webswing.admin.url}",
    "webFolder" : "${webswing.rootDir}/apps/selector"
  },
  "/webswing-demo" : {
    "path" : "/webswing-demo",
    "enabled" : true,
    "name" : "Webswing Demo",
    "webFolder" : "${webswing.rootDir}/apps/WebswingDemo/webroot",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "webHomeDir" : "${webswing.rootDir}/apps/WebswingDemo",
    "icon" : "icon.png",
    "uploadMaxSize" : 5,
    "maxClients" : 100,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "recordingConsentRequired" : false,
    "mirroringConsentRequired" : false,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : false,
    "goodbyeUrl" : "/",
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "fileViewers" : [ {
      "url" : "txt-viewer/?file=${file}",
      "operation" : "open",
      "fileType" : "txt"
    }, {
      "url" : "csv-viewer/?file=${file}&operation=open",
      "operation" : "open",
      "fileType" : "csv"
    }, {
      "url" : "csv-viewer/?file=${file}&operation=edit",
      "operation" : "edit",
      "fileType" : "csv"
    }, {
      "url" : "csv-viewer/?file=${file}&operation=print",
      "operation" : "print",
      "fileType" : "csv"
    }, {
      "url" : "${file}",
      "operation" : "open",
      "fileType" : "gif"
    } ],
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : true,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "homeDir" : "${webswing.rootDir}/apps/WebswingDemo",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : true,
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.WebswingDemoApp"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileSave" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileOpen" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "WebswingDemo.jar", "lib/*.jar" ],
      "multiScreenSupportEnabled" : true
    }
  },
  "/webswing-demo-applet" : {
    "path" : "/webswing-demo-applet",
    "enabled" : true,
    "name" : "Webswing Demo Applet",
    "webFolder" : "${webswing.rootDir}/apps/WebswingDemo/webroot",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "webHomeDir" : "${webswing.rootDir}/apps/WebswingDemo",
    "icon" : "icon-applet.png",
    "uploadMaxSize" : 5,
    "maxClients" : 100,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "recordingConsentRequired" : false,
    "mirroringConsentRequired" : false,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : false,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : true,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "homeDir" : "${webswing.rootDir}/apps/WebswingDemo",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : true,
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileSave" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileOpen" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "WebswingDemo.jar", "lib/*.jar" ],
      "launcherType" : "Applet",
      "launcherConfig" : {
        "appletClass" : "org.webswing.demo.applet.WebswingDemoApplet",
        "parameters" : {
          "param1" : "paramvalue1",
          "param2" : "paramvalue2"
        }
      }
    }
  },
  "/migration-examples" : {
    "path" : "/migration-examples",
    "enabled" : true,
    "name" : "Migration Examples",
    "webFolder" : "${webswing.rootDir}/apps/WebswingDemo/examples-webroot",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "webHomeDir" : "${webswing.rootDir}/apps/WebswingDemo",
    "icon" : "icon-migration.png",
    "uploadMaxSize" : 5,
    "maxClients" : 100,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "recordingConsentRequired" : false,
    "mirroringConsentRequired" : false,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : false,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "allowedCorsOrigins" : [ "*" ],
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : true,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "homeDir" : "${webswing.rootDir}/apps/WebswingDemo",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : true,
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.WebswingMigrationDemo"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "NONE",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileSave" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileOpen" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ]
    }
  },
  "/netbeans" : {
    "path" : "/netbeans",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "classPath" : [ ]
    },
    "icon" : "icon.png",
    "webFolder" : "",
    "swingConfig" : {
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dorg.netbeans.log.startup=print -DTopSecurityManager.disable=true",
      "classPathEntries" : [ "nbplatform.jar", "lib/*.jar" ],
      "theme" : "Murrine",
      "swingSessionTimeout" : 300,
      "antiAliasText" : true,
      "isolatedFs" : true,
      "debug" : true,
      "directdraw" : false,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.NbMain"
      },
      "homeDir" : "${webswing.rootDir}/apps/nbmin"
    },
    "maxClients" : 1,
    "allowStealSession" : true,
    "name" : "NetBeans Platform",
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/nbmin"
  },
  "/campus-maps" : {
    "path" : "/campus-maps",
    "name" : "Campus Maps",
    "enabled" : true,
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "fileViewers" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      },
      "securityContextPerTab" : false
    },
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "maxClients" : 1,
    "maxClientsPerUser" : -1,
    "allowStealSession" : true,
    "autoLogout" : true,
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "recordingAllowed" : true,
    "recordingConsentRequired" : false,
    "mirroringAllowed" : true,
    "mirroringConsentRequired" : false,
    "uploadMaxSize" : 5,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "timeoutIfInactive" : false,
      "homeDir" : "${webswing.rootDir}/apps/campus-maps",
      "theme" : "Murrine",
      "directdraw" : true,
      "latencyOptimizedRendering" : true,
      "debug" : false,
      "testMode" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.javan.dev.App"
      },
      "swingSessionTimeout" : 300,
      "idleInstancesCount" : 0,
      "allowStatisticsLogging" : true,
      "allowDelete" : true,
      "allowAutoDownload" : false,
      "threadDumpsFolder" : "${webswing.rootDir}/datastore/dumps",
      "recordingsFolder" : "${webswing.rootDir}/datastore/recordings",
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "NONE",
      "multiScreenSupportEnabled" : false,
      "fontEmbeddingEnabled" : false,
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ],
      "jsLinkWhitelist" : [ "*" ],
      "clearTransferDir" : true,
      "transferDir" : "${user}/upload",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "inactivityAction" : "SHUTDOWN"
    }
  }
}